@import "../../../styles/colors";

ul {
    list-style-type: none;
    margin:0;padding:0;

    li {
        background: $color-background-blue;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 8px;

        a:link {
            font-size: 1.5em;
            text-decoration: none;
            font-weight: bold;
            color:White;
        }

        ul {
            margin-top: 20px;
            
            li {
                padding:0;

                a {
                    font-size: 1em;
                    font-weight: 300;
                }
            }
        }

        p {
            color: White;
        }
    }
}