@import "../../../styles/colors";

.main-panel {
    background-color: $color-background-blue;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid white;
    margin-left: 25px;
    margin-right: 25px; 
}

.text {
    color: White;
}